.container {
    width: 100%;
    height: auto;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
}

.padding-top {
    padding-top: 10px;
}

.padding-top-200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.padding-top-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}


.col-md-6 {
    width: 50%;

}

.logo {
    font-size: 25px;
    padding: 25px 0px 0px 225px;
    position: relative;
    top: 10px;
    height: 40px;
    bottom: 12px;
    color: white;
    position: relative;
}

.header-section {
    background: linear-gradient(0deg, #000000a6, #000000a6), url('../images/background-img.jpg');
    height: auto;
    position: relative;
    width: 100%;
    background-size: cover;

}

.text-center {
    text-align: center;
    font-size: 50px;
    color: white;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 120px;
}

.header-links li {
    float: left;

}

.header-links li a {
    font-size: 20px;
    display: block;
    color: #d48108;
    text-align: center;
    padding: 15px 20px 15px 20px;
    text-decoration: none;

}

.header-links li a:hover {
    background-color: #fa982b2e;

}

.active {
    border-bottom: 2px solid #d48108;
}

body {
    margin: 0px;

}

.icon {
    height: 40px;
}

.coop {
    position: relative;
    bottom: 12px;
    color: white;
}

.dot {
    list-style: none;
}

.true-icon {
    height: 15px;
}

.side {
    background-image: linear-gradient(to bottom right, #360e42, #9c1637);
    transform: skew(0deg,
        -5deg);
}

.unside {
    transform: skew(0deg, 5deg);


}

.color {
    color: #c93e2d;
}

.color-white {

    font-size: 22px;
    color: white;
}

.color-black {
    font-size: 22px;

}

.col-md-12 {
    width: 100%;
    height: auto;
}

.col-md-4 {
    width: 33.33%;
}

.box {
    background: #248E2A;
    width: 34%;
    height: 75px;
    text-align: center;
    border-radius: 0px 35px;
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: white;


}

.center {
    padding-top: 15px;
}

.height {
    height: 1050px;
}

.font-size {
    font-size: 22px;
    padding-left: 20px;
    list-style: none;
    font-family: serif;


}

.button {
    border: none;
    background: #bf1e2d;
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;


}

.search {
    border: none;
    background: #bf1e2d;
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;


}

.line-1 {
    background: #fa982b;

    height: 5px;
    width: 510px;
    margin-bottom: 20px;
}

.line-2 {
    background: #fa982b;
    height: 5px;
    width: 600px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.line-3 {
    background: #fa982b;
    height: 5px;
    width: 600px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.menu {
    padding: 0px;
}

.menu li {
    border-bottom: 1px solid #ff000038;
    ;
    line-height: 38px;

}

.app-store-img {
    height: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.social-icon {
    background: #4a4a4a;
    border-radius: 50%;
    margin-right: 0.8em;
    margin-top: 12px;

}

html {
    scroll-behavior: smooth;
}


@media screen and (max-width: 520px) {}